.profile-sidebar {
  padding-right: 1rem;
}

.profile-sidebar-image-container {
  width: 100%;
  max-width: 320px;
  position: relative;
}

.profile-sidebar-image,
.profile-sidebar-empty-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 6px solid #000000;
  border-radius: 50%;
  background-color: white;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-sidebar-empty-image {
  flex-direction: column;
}

.profile-sidebar-empty-icon {
  font-size: 7rem;
  color: black;
}

.profile-sidebar-name {
  font-size: 2rem;
  font-weight: 700;
  color: #24292f;
}

.profile-sidebar-username {
  font-size: 1.4rem;
  font-weight: 600;
  color: #57606a;
}

.profile-sidebar-image-edit-button {
  position: absolute;
  bottom: 280px;
  right: 0px;
  width: 34px;
  height: 34px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
